@using UniversityManagementApp.Models

@{
    ViewBag.Title = "View Result";
    List<StudentSelectView> students = ViewBag.Students;
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">View Student Result</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                View Result
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form class="form-horizontal" id="ViewResult" method="POST">
                            <div class="form-group">
                                <label for="StudentId" class="col-sm-3 control-label">Student Reg. No.</label>
                                <div class="col-sm-9">
                                    <select name="StudentId" id="StudentId" class="form-control">
                                        <option value="">Select Student</option>
                                        @foreach (var std in students)
                                        {
                                            <option value="@std.StudentId">@std.RegNo</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="StudentName" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="StudentName" placeholder="" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="StudentEmail" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="StudentEmail" placeholder="" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="DepartmentName" class="col-sm-3 control-label">Department</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="DepartmentName" placeholder="" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="button" id="makePDF" class="btn btn-primary pull-right" disabled><i class="fa fa-plus-square"></i> Make PDF</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12" id="search-reasult"></div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/page/viewResult.js")
}

